!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", http-equiv: "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}

    %meta{content: "", name: "description"}
    %meta{content: "", name: "author"}

    %title Hello ChatUp!
    %link{href: "#{static_path(@conn, "/css/app.css")}", rel: "stylesheet"}
  %body
    = render ChatUp.SharedView, "_navigation.html", conn: @conn
    = render ChatUp.SharedView, "_flash.html", conn: @conn

    %main.container
      = render @view_module, @view_template, assigns

    %script{src: "#{static_path(@conn, "/js/app.js")}"}
