= form_for @changeset, room_path(@conn, :update, @room), fn f ->

  = if @changeset.action do
    .alert.alert-danger
      %b Oops!
      Something went wrong! Please check the errors below.
  - end

  .panel.panel-default
    .panel-heading
      %h3.panel-title Edit Room

    .panel-body
      = render "_form.html", f: f

    .panel-footer
      .pull-left
        = link "Back", to: room_path(@conn, :show, @room), class: "btn btn-link"
      .pull-right
        = submit "Update Room", class: "btn btn-primary"
      .clearfix

- end

= button "Delete Room", to: room_path(@conn, :delete, @room), method: :delete, data: [confirm: "Are you sure you want to delete this room?"], class: "btn btn-danger"
