%h3.page-header
  .pull-left
    = @room.name
    %small= @room.description
  .pull-right
    = link "Edit", to: room_path(@conn, :edit, @room), class: "btn btn-primary btn-xs"
  .clearfix

.panel.panel-default
  .panel-heading
    %h3.panel-title.pull-left
      = @room.name
      Topics
    = link "New", to: topic_path(@conn, :new), class: "btn btn-primary btn-xs pull-right"
    .clearfix
  .list-group
    = for topic <- @room.topics do
      = link to: topic_path(@conn, :show, topic), class: "list-group-item" do
        = topic.name
      - end
    - end
